body{
    justify-items:center;
    margin-top: 15vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e2e2e2;
}
main{
    border: 2px solid black;
    border-radius: 5px;
    padding: 5vh;
    background-color: rgb(250, 249, 249);
}
h1{
    border-bottom: 2px solid black;
    margin-bottom: 5vh;
    color: darkblue;
}
.SENHA input{
    margin-bottom: 3vh;
    width: 50vh;
    font-size: medium;
    height: 4vh;
    background-color: rgb(241, 241, 241);
    border-radius: 3px;
    margin-top: 1vh;
}
footer{
    margin-top: 3vh;
}
footer a{
    margin-right: 3vh;
}
.naoRobo{
    margin: 3vh;
}
.checkboxRobo{
    border: 2px solid black;
    padding: 2vh;
    background-color: cornflowerblue;
    margin-right: 3vh;
    margin-left: 3vh;
    border-radius: 5px;
}
.checkboxRobo label{
    margin-left: 12px;
    padding: 8px;
    padding-left: 4vh;
    padding-right: 8vh;
    border: 2px solid black;
    border-radius: 5px;
    background-color: darkgrey;
}
button {
    margin-top: 2vh;
    background-color: rgb(88, 119, 33);
    color: aliceblue;
    border-radius: 2px;
    height: 4vh;
    width: 9vh;
    }